#container {
  text-align: center;
justify-content: center;
align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: small;
}
  ion-icon{
    justify-content: start;
    margin-left: 10px;
    
}
#ion-input {
color:yellow;
}
#container p {
  font-size: 10px;
  line-height: 20px;
}
#container p {
  font-size: 10px;
  line-height: 20px;

  color: #8c8c8c;

  margin: 0;
}


#container a {
  text-decoration: none;
}
ion-content.background
{

  --background: linear-gradient(#F29375, #241903);
  

}
    
    

  