<ion-header [translucent]="true">
 

<ion-content class="background" [fullscreen]="true">


  <div id="container">
<div class="img"> <img  class="img" src="./assets/john.PNG" alt=""></div>
     

    <br><br><br><br><br>

           <strong>CREATE ACCOUNT</strong>
    
  

           
           <br><br><br><br><br>
          
           
      <div style="text-align: left;">       
      
<br>


<ion-input shape="round" color="white" type="text"style="width: 250px;--background:#9B7161;margin-left:10%; border-radius: 20px; margin-bottom: 26px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);"placeholder="&nbsp;&nbsp;&nbsp;Name"><ion-icon name="reorder-two-outline"></ion-icon></ion-input>

<ion-input shape="round" color="white" type="text"style="width: 250px;--background:#9B7161;margin-left:10%; border-radius: 20px; margin-bottom: 26px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);"placeholder="&nbsp;&nbsp;&nbsp;Email"><ion-icon name="mail-outline"></ion-icon></ion-input>


    <ion-input shape="round" type="text" style="width: 250px;--background:#9B7161;margin-left:10%; border-radius: 20px; margin-bottom: 26px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);" placeholder="&nbsp;&nbsp;&nbsp;Password"><ion-icon name="lock-closed-outline"></ion-icon></ion-input>
    
    <br><br><br><br><br>
  
 <ion-input shape="round" type="text" style="width: 250px;--background:#3F2A19;margin-left:10%; border-radius: 20px; margin-bottom: 26px;
box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12); text-align: center;" placeholder="&nbsp;&nbsp;&nbsp;continue"></ion-input> 

<br>

<p style="text-align: center;">Terms & Condition</p>

  </div>
